<h1>Grettings Learning Spring Boot 2.9 fans! </h1>
<p> In this chapter, we were learning how to make a web page using spring boot 3.0</p>
<ul>
    {{#videos}}
        <li>{{name}}</li>
    {{/videos}}
</ul>
<form action="/new-video" method="post">
    <input type="text" name="name"/>
    <button type="submit">Submit</button>

</form>